html, body {
  height: 100%;
  overflow-x:hidden;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  padding-bottom:5em;
  padding-top:1em;
  color: #555;

  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
}

a { text-decoration: underline; }

h1,h2,h3 { margin-bottom: 0.1em}
h3 { color:#777 }

.spacer { padding:.3em; }
.footerLink { color:white; text-decoration:none; }
.footerLink:hover { color:white; text-decoration: underline; }


.fixedFooter {
  position: fixed; 
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  color:white;
  padding:1em;
  font-size:1.2em;
  background-color:rgba(0,0,0,.30)
}

@media only screen and (max-width: 600px) {
  .fixedFooter {
      position: static;
      display: inline-block;
      width: 100%;
      margin-top:2em;
      margin-bottom:0;
  }
}