html, body {
  height: 90%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;

  padding-bottom:2em;
  background-color:#eee;
}

h1 { margin-bottom: 0}

.spacer { padding:.3em; }