html, body {
  height: 100%;
  overflow-x:hidden;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  padding-bottom:5em;
  padding-top:1em;
  color: #555;

  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
}

h1,h2,h3 { margin-bottom: 0.1em}

.spacer { padding:.3em; }
.footerLink { color:white; }
.footerLink:hover { color:white; text-decoration: underline; }